h1 {
    margin: 0;
    color: #fff;
    font-size: 220%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 35px;
}

h2 {
    font-size: 180%;
    font-weight: 300;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
}

h2::after {
    display: block;
    width: 100px;
    background-color: $brand-orange;
    height: 2px;
    content: " ";
    margin: 30px auto;
}

h3 {
    font-size: 90%;
    font-weight: 300;
    line-height: 6vh;
    text-transform: uppercase;
}