/* STYTLES SPECIFICALLY FOR INTERNET EXPLORER 10+ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .price-box li {
        padding: 6px;
    }
}

/* STYLES FOR LAPTOPS, 1023-1200px */
@media only screen and (max-width: 1200px) {
        .hero-text-box {
        width: 100%;
        padding: 0 4%;
    }
    
    .menu {
        margin-right: 5%;
    }
    
    .logo {
        margin-left: 1%;
    }
    
    h3 {
        font-size: 1.5vw;
        line-height: 5vh;
    }
    
    .feature-description {
        font-size: 70%;
        line-height: 3vh;
    }
    
    .icon {
        font-size: 6vh;
    }
    
    .box {
        height: 320px;
        margin: 0px;
    }
    
    .box:first-child {
        margin-left: 1%;
    }
    
    .box:last-child {
        margin-right: 1%;
    }
    
    .steps-box:last-child {
        padding-left: 0%;
    }
    
    .how-to-step {
        width: 90%;
    }
    
    .steps-copy {
        font-size: 2vw;
    }
}

/* STYLES FOR IPAD IN PORTRAIT MODE AS WELL AS SMALL LAPTOPS, 768-1023px */
@media only screen and (max-width: 1023px) {
    .menu li {
        margin-left: 20px;
        font-size: 2vw;
    }
    
    .logo {
        height: auto;
        width: 90px;
    }
    
    header {
        height: 70vh;
    }
    
    .hero-text-box {
        top: 35%;
    }
    
    .ingress {
        width: 85%;
        margin-left: 10%;
    }
    
    .box:last-child,
    .box:first-child {
        margin: 0;
    }
    
    h3 {
        font-size: 100%;
    }
    
    .feature-description {
        font-size: 100%;
    }
}

/* STYLES FOR TABLETS, 481-767px */
@media only screen and (max-width: 767px) {
    
}

/* STYLES FOR SMALLER SMARTPHONE, 0-480px */
@media only screen and (max-width: 480px) {
    
    section {
        padding: 40px 0;
    }
    
    h1 {
        font-size: 90%;
        margin-bottom: 15px;
    }
    
    h2 {
        font-size: 100%;
        padding: 0 10px;
    }
    
    .price-box h3 {
        padding: 15px;
    }
    
    .logo {
        width: 50px;
        margin-top: 5px;
    }
    
    .menu {
        margin-top: 15px;
        
        li {
            margin-left: 10px;
            font-size: 30%;
        }
    }
    
    .secondary-button, .main-button {
        padding: 5px 15px;
        margin-right: 10px;
        font-size: 60%;
    }
    
    .ingress {
        font-size: 60%;
    }
    
    .box {
        height: auto;
        padding: 15px 35px;
    }
    
    .feature-description {
        font-size: 60%;
    }
    
    .icon {
        font-size: 220%;
    }
    
    .food-showcase li {
        width: 50%;
    }
    
    .steps-box:first-child {
        width: 35%;
    }
    
    .steps-box:last-child {
        width: 65%;
        margin-top: 10px;
    }
    
    .app-image {
        width: 80%;
    }
    
    .steps-number {
        height: 25px;
        width: 25px;
        font-size: 80%;
        padding: 0;
        margin-right: 5%;
    }
    
    .steps-copy {
        font-size: 50%;
        padding-left: 35px;
        text-align: justify;
    }
    
    div.how-to-step:last-of-type {
        margin-bottom: 20px;
    }
    
    .button-app {
        margin-right: 0px;
        width: auto;
        height: 25px;
    }

    .location-info {
        margin-left: 15px;
    }
    
    .location-image {
        margin-top: 15px;
    }
    
    .section-locations h3 {
        padding: 15px;
    }
    
    blockquote {
        padding: 0 5%;
        font-size: 70%;
    }
    
    blockquote:before {
        left: 5px;
    }
    
    figure {
        margin: 0 5%;
    }
    
    .price-box h3 {
        font-size: 100%;
    }
    
    .price-box {
        font-size: 70%;
    }
    
    .price-box:first-child {
            margin-top: 15px;
    }
    
    .pricing {
        margin-top: 5px;
    }
    
    .contact-us-form {
        width: 80%;
        font-size: 70%;
    }
    
    input[type=email], input[type=text], input[type=checkbox], textarea, select {
        margin-bottom: 10px;
    }
}