/* --------------------------------------------- */
/* NAVIGATION STYLES */
/* --------------------------------------------- */

.logo,
.logo-black {
    display: inline-block;
    float: left;
    margin-top: 20px;
    height: 100px;
    width: 100px;
}

.logo-black { display: none; }

/* Main navigation styles */
.menu {
    list-style: none;
    float: right;
    margin-top: 55px;
    
    li {
        display: inline-block;
        text-transform: uppercase;
        margin-left: 40px;
        font-size: 2vh;
        padding-bottom: 7px;
        border-bottom: 2px solid transparent;
    }
    
    li:hover,
    li:active{
        border-bottom: 2px solid #e67e22;
    }
}

/* Sticky navigation styles */
.sticky-nav {
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    outline: 2px solid #f3f3f3;
    z-index: 1;
    padding-top: 5px;
    
    .menu {
        margin-top: 15px;
    }
    
    .logo-black {
        display: inherit;
        height: 50px;
        width: 50px;
        margin-top: 5px;
    }
    
    .logo { display: none; }
    
    li {
        padding-bottom: 17px;
    }

    a {
        color: black;
    }
}

.nav-link {
    text-decoration: none;
    color: #fff;
}