%button:link, 
%button:visited {
    text-decoration: none;
    padding: 10px 30px;
    border: 1px solid #e67e22;
    border-radius: 30px;
    margin-right: 20px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    display: inline-block;
}

.main-button {
    @extend %button;
    color: #fff;
    background-color: #e67e22;
}

.secondary-button {
    @extend %button;
    color: #e67e22;

}

.main-button:hover,
.main-button:active {
    background-color: #cb640a;
}

.secondary-button:hover,
.secondary-button:active {
    background-color: #e67e22;
    color: #fff;
}