/* --------------------------------------------- */
/* IMPORTING SCSS COMPONENT STYLES AND RESET CSS */
/* --------------------------------------------- */

@import 'normalize';
@import 'grid';

/* --------------------------------------------- */
/* VARIABLES */
/* --------------------------------------------- */

$brand-orange: #e67e22;

/* --------------------------------------------- */
/* GENERAL STYLES */
/* --------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #5d5d5d;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

ul {
    list-style: none;
}

hr {
    border-top: #e8e8e8;
}

/* --------------------------------------------- */
/* REUSABLE COMPONENTS */
/* --------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 2%;
    height: 380px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    outline: 2px solid transparent;
}

.box:hover {
    outline: 2px solid #f0f0f0;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(145, 145, 145, 0.7);
    box-shadow: 5px 5px 10px 0px rgba(145, 145, 145, 0.7);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

section {
    padding: 80px 0;
}

.grey {
    background-color: #f4f4f4;
}

@import 'buttons';


/* --------------------------------------------- */
/* HEADER SECTION */
/* --------------------------------------------- */

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../content/img/hero.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../content/img/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* --------------------------------------------- */
/* FEATURES SECTION */
/* --------------------------------------------- */

.ingress {
    line-height: 4vh;
    font-size: 80%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 20px;
}

.icon {
    font-size: 8vh;
    color: $brand-orange;
    display: block;
}

.feature-description {
    font-size: 75%;
    line-height: 3vh;
}


/* --------------------------------------------- */
/* FOOD SHOWCASE SECTION */
/* --------------------------------------------- */

.section-food-showcase {
    padding: 0;
}

.food-showcase {
    width: 100%;
    li {
        display: block;
        width: 25%;
        float: left;
        //height: 360px;
    }
}

.food-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
    img {
        width: 100%;
        height: auto;
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
        -webkit-transition: 0.4s ease-out;
        transition: 0.4s ease-out;
        opacity: 0.6;
    }
    
    img:hover {
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
        opacity: 1;
    }
}

figcaption {
    position: relative;
    left: 50%;
    bottom: 50%;
    -webkit-transform: translate(-25%, -25%);
    transform: translate(-25%, -25%);
    color: white;
    font-weight: 500;
    font-size: 32px;
}

/* --------------------------------------------- */
/* HOW IT WORKS SECTION */
/* --------------------------------------------- */

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 50px;
}

.app-image {
    width: 40%;
}

.how-to-step {
    margin-bottom: 3vw;
}

.steps-number {
    color: $brand-orange;
    border: 2px solid $brand-orange;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 150%;
    padding: 1px;
    float: left;
    margin-right: 5%;
}

.steps-copy {
    padding-top: 2px;
}

div.how-to-step:last-of-type {
    margin-bottom: 70px;
}


.button-app {
    margin-right: 10px;
    width: auto;
    height: 50px;
}

/* --------------------------------------------- */
/* LOCATION SECTION */
/* --------------------------------------------- */

.location-info {    
    li {
        display: inline-block;
        padding-bottom: 5px;
    }
    
    p {
        float: left;
        font-size: 90%;
        padding-top: 4px;
    }
    
    a {
        font-size: 90%;
    }
}

.small-icon {
    float: left;
    font-size: 120%;
    color: $brand-orange;
    margin-right: 15px;
    width: 20px;
    text-align: center;
}

.location-image {
    width: 100%;
    height: auto;
}

.mail {
    color: $brand-orange;
    text-decoration: none;
    border-bottom: 1px solid $brand-orange;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear;
}

.mail:hover,
.mail:active {
    color: #000000;
    border: none;
}

/* --------------------------------------------- */
/* TESTIMONIAL SECTION */
/* --------------------------------------------- */

.section-testimonials {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.8)), to(rgba(0,0,0,0.8))), url('../content/img/back-customers.jpg');
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../content/img/back-customers.jpg');
    background-attachment: fixed;
    background-size: cover;
    
    h2 {
        color: white;
    }
}

blockquote {
    color: white;
    font-style: italic;
    padding-right: 4%;
    line-height: 30px;
    margin-bottom: 20px;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: '\201C';
    display: block;
    font-size: 500%;
    position: absolute;
    top: -10px;
    left: -15px;
}

.testimonial-image {
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
}

cite {
    color: white;
    margin-bottom: 35px;
    vertical-align: middle;
    display: inline-block;
}

/* --------------------------------------------- */
/* PRICING SECTION */
/* --------------------------------------------- */

.border-box {
    background-color: #FFF;
    margin: 0 20px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 3px #f0f0f0;
    box-shadow: 5px 5px 3px #f0f0f0;
}

.price-box:first-child {
    background-color: #fcfcfc;
    border-radius: 5px;
}

.price-box {
    padding: 5% 5%;
    font-size: 90%;

    li {
        padding: 7px;
    }
}

.price-box li:before {
    content: "\2713";
    color: $brand-orange;
    margin-right: 20px;
    font-weight: 100;
    font-size: 70%;
}

li.not-included:before {
    content: "\2715";
}

.price-box h3 {
    font-size: 130%;
    line-height: 0;
    margin-top: 10px;
}

.pricing {
    color: $brand-orange;
    margin: 25px 0 10px 0;
}

.price-figure {
    font-size: 270%;
    font-weight: 100;
    margin-right: 10px;
}

.pricing-disclaimer {
    font-size: 80%;
}

.price-box:last-child {
    text-align: center;
}

/* --------------------------------------------- */
/* CONTACT US SECTION */
/* --------------------------------------------- */

.contact-us-form {
    width: 60%;
    margin: auto;
}

input[type=email],
input[type=text],
textarea,
select {
    width: 100%;
    padding: 8px 5px;
    border: 1px solid #d6d6d6;
}

checkbox,
.checkbox-label {
    display: inline-block;
    margin: 5px 0 5px 8px;
}

textarea {
    max-width: 100%;
    min-height: 100px;
}

::-webkit-input-placeholder,
select,
textarea,
input {
    font-weight: 300;
}

:-ms-input-placeholder,
select,
textarea,
input {
    font-weight: 300;
}

::placeholder,
select,
textarea,
input {
    font-weight: 300;
}

.submit {
    display: inline;
    float: right;
    margin-right: 0px; 
}

select {
    height: 45px;
}

*:focus {outline: none;}

/* --------------------------------------------- */
/* FOOTER SECTION STYLES */
/* --------------------------------------------- */

footer {
    background-color: #333;
    font-size: 80%;
    padding: 40px 0;
}

.footer-link-list li,
.socialmedia-links li {
    display: inline-block;
    float: left;
    padding-right: 30px;
}

.footer-link {
    color: #888;
    text-decoration: none;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.socialmedia-links {
    float: right;
    color: #888;
}

.socialmedia-links i {
    color: #888;
    margin: 0;
    font-size: 30px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.socialmedia-links i:hover,
.footer-link:hover {
    color: #adadad;
}

.copyright {
    text-align: center;
    color: #888;
    margin-top: 35px;
}

.footer-base {
    border-top: 1px solid #3e3e3e;
    margin-top: 50px;
}

/* --------------------------------------------- */
/* IMPORTING ADDITIONAL STYLES */
/* --------------------------------------------- */

@import 'headings';
@import 'navigation';
@import 'media-queries';