/* --------------------------------------------- */
/* IMPORTING SCSS COMPONENT STYLES AND RESET CSS */
/* --------------------------------------------- */

@import 'normalize';
@import 'grid';

/* --------------------------------------------- */
/* VARIABLES */
/* --------------------------------------------- */

$brand-orange: #e67e22;

/* --------------------------------------------- */
/* GENERAL STYLES */
/* --------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #5d5d5d;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* --------------------------------------------- */
/* REUSABLE COMPONENTS */
/* --------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 2%;
    height: 380px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    outline: 2px solid transparent;
}

.box:hover {
    outline: 2px solid #f0f0f0;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(145, 145, 145, 0.7);
    -moz-box-shadow: 5px 5px 10px 0px rgba(145, 145, 145, 0.7);
    box-shadow: 5px 5px 10px 0px rgba(145, 145, 145, 0.7);
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

/* --------------------------------------------- */
/* HEADER SECTION */
/* --------------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../content/img/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* --------------------------------------------- */
/* FEATURES SECTION */
/* --------------------------------------------- */

.section-features {
    margin: 70px;
}

.section-features .row {
    margin-top: 40px;
}

.ingress {
    line-height: 3vh;
    font-size: 20px;
    width: 70%;
    margin-left: 15%;
}

.icon {
    font-size: 8vh;
    color: $brand-orange;
    display: block;
}

.feature-description {
    font-size: 18px;
    line-height: 3vh;
}


/* --------------------------------------------- */
/* FOOD SHOWCASE SECTION */
/* --------------------------------------------- */


.food-showcase {
    width: 100%;
    list-style: none;
    li {
        display: block;
        width: 25%;
        float: left;
        height: 360px;
    }
}

.food-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
    img {
        width: 100%;
        height: auto;
        transform: scale(1.15);
        transition: 0.4s ease-out;
        opacity: 0.6;
    }
    
    img:hover {
        transform: scale(1.03);
        opacity: 1;
    }
}

figcaption {
    position: relative;
    left: 50%;
    bottom: 50%;
    transform: translate(-25%, -25%);
    color: white;
    font-weight: 500;
    font-size: 32px;
}

/* --------------------------------------------- */
/* HOW IT WORKS SECTION */
/* --------------------------------------------- */


.app-image {
    width: 40%;
}

.steps-number {
    display: inline-block;
    padding: 10px 10px;
    color: $brand-orange;
    border: 2px solid $brand-orange;
    border-radius: 50px;
}

/* --------------------------------------------- */
/* IMPORTING ADDITIONAL STYLES */
/* --------------------------------------------- */

@import 'headings';
@import 'buttons';
@import 'navigation';